<div class="cta5-container thq-section-padding">
  <div class="cta5-max-width thq-section-max-width">
    <div class="cta5-container1 thq-flex-row">
      <div class="cta5-column">
        <span class="thq-heading-2">{{ heading1 }}</span>
        <p class="thq-body-small">{{ content1 }}</p>
        <div class="cta5-container2">
          <div class="cta5-row thq-flex-column">
            <div class="cta5-container3">
              <input
                type="text"
                placeholder="Enter your email"
                class="cta5-textinput thq-input"
              />
              <button type="button" class="cta5-button thq-button-filled">
                {{ action1 }}
              </button>
            </div>
          </div>
          <span class="thq-body-small">{{ content2 }}</span>
        </div>
      </div>
      <img
        [attr.alt]="image1Alt"
        [attr.src]="image1Src"
        class="cta5-placeholder-image thq-img-ratio-16-9"
      />
    </div>
  </div>
</div>
